
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(11, 15, 20);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(248, 246, 243);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(248, 253, 254);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(246, 248, 250);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Education {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(238, 247, 247);
}
